{{!-- breadcrumb --}}
<nav style="breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View user</li>
    </ol>
</nav>

<div class="row justify-content-evenly p-5 view-user">
    {{#each rows}}
    <div>

        <div class="card text-center bg-light border-secondary">
            <div class="card-header border-success">
                id: {{this.id}}
            </div>
            <div class="card-body">
                <h5 class="card-title text-success">
                {{this.first_name}} {{this.last_name}}
                </h5>
                <p class="card-text">phone: {{this.phone}}</p>
                <p class="card-text">mail: {{this.email}}</p>
            </div>
            <div class="card-footer text-muted border-success">
                <h6 class="text-success">comment:</h6>
                {{this.comments}}
            </div>
        </div>

    </div>


    {{/each}}
</div>